.pswp {
    z-index: 10000;
    position: relative;
}

/* .pswp img.video-preview {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
} */

.pswp div.video-container {
    width: 100%;
    height: 100%;
    height: calc(100% - 44px);
    position: absolute;
    left: 0;
    bottom: 0;
}

.pswp iframe.video {
    width: 100%;
    height: 100%;
}

.pswp div.video-container div {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.pswp-gallery {
    width: 100%;
    float: left;
}

.pswp-gallery img {
    width: 100%;
    height: auto;
}

.pswp-gallery figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 150px;
}

.pswp-gallery figcaption {
    display: none;
}